/**************************/
/* A (more) Modern CSS Reset*/
/* https://piccalil.li/blog/a-more-modern-css-reset/ */
/* by Andy Bell */
/**************************/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}
/**************************/

/* Custom variables for colors */
:root {
  --yellow: hsl(47, 88%, 63%);
  --white: hsl(0, 0%, 100%);
  --grey: hsl(0, 0%, 50%);
  --black: hsl(0, 0%, 7%);
}

/* Google Fonts */
/**************************/
/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 900 */
/* .figtree-<uniquifier>
font-weight: <weight>; */

.figtree-font {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.figtree-font--med {
  font-weight: 500;
}

.figtree-font--xbold {
  font-weight: 800;
}
/**************************/

/* General card styling */
body {
  background-color: var(--yellow);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
}

.card {
  max-width: 30rem;
  padding: 1rem;
  background-color: var(--white);
  border: solid 1px var(--black);
  border-radius: 15px;
  box-shadow: 10px 10px 0 0 var(--black);
  position: relative; /* make the whole card clickable */
}

/* Image box */
.image-box {
  margin-bottom: 1.5rem;
}

.image-box-img {
  width: 100%;
  aspect-ratio: 277 / 200;
  object-fit: cover;
  border-radius: 15px;
}

/* Text box */
.text--tag {
  display: inline-block;
  background-color: var(--yellow);
  padding: 0.4rem 0.8rem;
  margin-block-start: 0;
}

.text--published {
  margin-bottom: 1.5rem;
  font-size: 0.9rem;
}

.text--title {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.text--title-anchor {
  text-decoration: none;
  cursor: pointer;
  transition: all 300ms;

  &:link,
  &:visited {
    color: var(--black);
  }

  &:focus {
    outline: none;
    /* box-shadow: inset 0 0 0 4px var(--yellow); */
    border-radius: 8px;
    padding: 0.3rem 0;
    border: 4px dashed var(--grey);
  }

  &:hover {
    color: var(--yellow);
  }

  &:active {
    background: var(--black);
    border: none;
  }
}

/**************************/
/* make the whole card clickable */
.text--title-anchor::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
/**************************/

.text--description {
  color: var(--grey);
  margin-bottom: 2rem;
}

.text--author {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.text--author-img {
  width: 2.5rem;
  height: 2.5rem;
}

.text--author-name {
  margin-block-start: 0;
}

/* Footer */
.attribution {
  font-size: 0.6875rem; /* 11px */
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
